@import "./styles/reset.css";

* {
  background-color: lavender;
  font-family: Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: hwb(300 63% 13%);
}

.title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  background-color: plum;
}

.links {
  position: relative;
  right: -210px;
  display: flex;
  gap: 20px;
  background-color: plum;
  a {
    background-color: plum;
    svg {
      height: 28px;
      width: 28px;
      background-color: plum;
      transition: all 0.3s ease-out;
    }
  }
  a:hover {
    background-color: plum;
    svg {
      transform: rotate(360deg) scale(1.1);
      background-color: plum;
    }
  }
}

.first-section {
  display: flex;
  margin: 30px 50px;
  justify-content: center;
  .text-info {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 100px;
    border: 2px double violet;
    border-radius: 10px;
    padding: 10px;
  }
  .countries-container {
    display: flex;
    flex-direction: column;
    width: 175px;
    min-width: 175px;
    max-height: 640px;
    border: 2px double violet;
    border-radius: 10px;
    padding: 10px;
    h2 {
      text-align: center;
      margin: 10px 0 15px;
      font-weight: bold;
      color: rgba(34, 34, 34, 0.8);
    }
    #countries-inner-container {
      overflow-y: scroll;
      .country-container {
        margin-left: 0px;
        .country-name {
          position: relative;
          top: -20px;
          left: 60px;
          font-size: 12px;
          width: 115px;
        }
        .country-name:hover {
          color: skyblue;
        }
      }
    }
  }
}

.countries {
  width: 40px;
  height: auto;
  margin: 1px;
  cursor: pointer;
  img {
    width: inherit;
    height: inherit;
    object-fit: fill;
  }
}

.second-section {
  display: flex;
  margin: 30px 50px;
  justify-content: center;
  #countryInfo {
    display: flex;
    margin: 30px 50px;
    justify-content: center;
    .country-info-inner-1 {
      width: 300px;
      max-width: 300px;
      margin-right: 100px;
      border: 2px double violet;
      border-radius: 10px;
      padding: 10px;
      .country-map {
        width: 300px;
      }
    }
    .country-info-inner-2 {
      width: 576px;
      max-width: 576px;
      border: 2px double violet;
      border-radius: 10px;
      padding: 10px;
      .country-title {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        margin: 30px 0;
      }
      .country-data-info {
        display: flex;
        justify-content: space-evenly;
        .country1990,
        .country2017,
        .absoluteChange,
        .relativeChange {
          width: 100px;
          h4 {
            font-size: 16px;
            height: 40px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 40px;
            color: rgba(34, 34, 34, 0.8);
          }
          div {
            font-size: 28px;
            font-weight: bold;
            margin-top: 40px;
            color: rgba(34, 34, 34, 0.8);
          }
          .red-marker {
            color: rgba(250, 0, 0, 0.6);
          }
          .green-marker {
            color: rgba(6, 121, 94, 0.6);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .links {
    right: -75px;
    gap: 16px;
  }
  .first-section {
    .text-info {
      max-width: 480px;
      gap: 18px;
      margin-right: 50px;
      #canvasChart {
        margin: 20px 0 40px;
      }
    }
  }
  .second-section {
    #countryInfo {
      .country-info-inner-1 {
        width: 190px;
        max-width: 190px;
        margin-right: 50px;
        .country-map {
          width: 190px;
        }
      }
      .country-info-inner-2 {
        width: 466px;
        max-width: 476px;
        .country-title {
          font-size: 22px;
        }
        .country-data-info {
          .country1990,
          .country2017,
          .absoluteChange,
          .relativeChange {
            width: 88px;
            div {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    gap: 20px;
    min-width: 370px;
  }

  .links {
    right: 0;
    display: flex;
    justify-content: center;
  }

  .first-section {
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    .text-info {
      display: flex;
      flex-direction: column-reverse;
      width: 350px;
      font-size: 10px;
      #canvasChart {
        margin: 0;
      }
    }
    .countries-container {
      width: 350px;
      height: 200px;
    }
  }
  .second-section {
    margin: 10px;
    width: 350px;
    #countryInfo {
      flex-direction: column;
      width: 350px;
      margin: 0;
      .country-info-inner-1 {
        width: 350px;
        max-width: 350px;
        margin-bottom: 10px;
        .country-map {
          width: 350px;
        }
      }
      .country-info-inner-2 {
        width: 350px;
        max-width: 350px;
        .country-data-info {
          .country1990,
          .country2017,
          .absoluteChange,
          .relativeChange {
            margin-bottom: 0;
            h4 {
              margin: 20px 0 10px;
            }
            div {
              margin-top: 0;
              font-size: 16px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}